/*/ 
Colors:
Main: 
Blue: #003da5
Yellow: #FFD54C
/*/

/* @font-face {
    font-family: "AvenirNext-Regular";
    src: url(../fonts/AvenirNext/AvenirNextLTPro-Regular.otf);
  }
  @font-face {
    font-family: "AvenirNext-Bold";
    src: url(../fonts/AvenirNext/AvenirNextLTPro-Bold.otf);
  }
  @font-face {
    font-family: "AvenirNext-Demi";
    src: url(../fonts/AvenirNext/AvenirNextLTPro-Demi.otf);
  } */
  
  /* Eventually organize these into seperate CSS files, like Utitlity, Buttons, etc */
  
  /*
  * Essentials 
  */
  
  html {
    position: relative;
    min-height: 100%;
    
  }

  body {
    margin: 0 0 100px;
    padding: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1.5em;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }
  
  @media screen and (max-width: 720px) {
    h1 {
      font-size: 2em;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: Montserrat, sans-serif;
    color: #0a1938;
  }
  
  .inline {
    display:inline; 
  }
  
  p {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    font-size: 16;
  }
  
  span {
    font-family: Montserrat, sans-serif;
  }
  div {
    font-family: Montserrat, sans-serif;
  }
  
  p.indent {
    text-indent: 2.5em;
  }
  
  .s-line-height {
    line-height: 1.2;
  }
  
  a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
  }
  
  .grey {
    color: grey !important;
  }
  .black {
    color: black !important;
  }
  .blue {
    color: #003da5 !important;
  }
  .yellow {
    color: #eeba47 !important;
  }
  .white {
    color: white !important;
  }
  .red {
    color: rgb(252, 36, 36) !important;
  }
  .green {
    color: rgb(11, 138, 7) !important;
  }
  .purple {
    color: rgb(123, 3, 128) !important;
  }

  .remove-pipe-spacing {
    padding: 0px !important;
    margin: 0px !important;
  }
  
  .background-blue {
    background: #003da5
  }

  .background-white {
    background: white !important;
  }

  .background-light-grey {
    background-color: #f8f8f8 !important;
  }
  
  label {
    font-weight: 600;
    font-family: Montserrat, sans-serif;
  }
  
  ul,
  ol,
  li {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    font-size: 16;
  }
  
  hr {
    border-top: 0.1px solid grey;
  }
  
  /* Table */
  table {
    border-collapse: collapse;
    width: 100%;
    overflow-x:auto;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;}
  /* End table */
  
  .overflow-div {
    overflow-x:auto;
  }
  
  .rounded {
    border-radius: 50%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    padding: 2%
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .high-z {
    z-index: 10 !important;
  }
  
  .heading-rule {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  
  .heading-rule span {
    background: #fff;
    padding: 0 10px;
    color: black;
    font-family: Montserrat, sans-serif;
  }
  
  /* EXAMPLE:
  <h2 className="heading-rule">
    <span>Messages</span>
  </h2>      
  */
  
  .regular-font {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    font-size: 16;
  }
  
  .center-text {
    text-align: center !important;
  }
  
  .xs-text {
    font-size: 8px !important;
  }
  
  .s-text {
    font-size: 12px !important;
  }
  
  .m-text {
    font-size: 16px !important;
  }
  
  .l-text {
    font-size: 20px !important;
  }
  
  .xl-text {
    font-size: 24px !important;
  }
  
  .text-hover-danger:hover {
    color: rgb(252, 36, 36)  !important;
    cursor: pointer;
  }
  
  .text-hover:hover {
    color: #003da5  !important;
    cursor: pointer;
  }
  
  /* 
  * Responsive
  */

  /* Extra Large */
  @media screen and (min-width: 1600px) {
    .wrapper {
      /* For outer Div holding the body */
      padding: 0 7% 0 7%; 
    }

    .wrapper-w-img {
      padding: 0 7% 0 7%; 
    }

    .wrapper-top {
      padding: 0 0 0 0; 
    }

    .l-container {
      margin: auto;
      width: 70%;
      padding: 1%;
    }
  
    .m-container {
      margin: auto;
      width: 50%;
      padding: 1%;
    }
  
    .s-container {
      margin: auto;
      width: 25%;
      padding: 1%;
    }
  }
  
  /* Large */
  @media screen and (min-width: 1081px) and (max-width: 1599px) {
    .wrapper {
      padding: 3% 5% 0 7%; 
    }

    .wrapper-w-img {
      padding: 0 5% 0 7%; 
    }

    .wrapper-top {
      padding: 2.5% 0 0 0; 
    }
  
    .l-container {
      margin: auto;
      width: 70%;
      padding: 1%;
    }
  
    .m-container {
      margin: auto;
      width: 50%;
      padding: 1%;
    }
  
    .s-container {
      margin: auto;
      width: 25%;
      padding: 1%;
    }
  }
  
  /* Medium */
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    .wrapper {
      padding: 6% 1% 0 1%;  
    }

    .wrapper-w-img {
      padding: 0 1% 0 1%; 
    }

    .wrapper-top {
      padding: 5% 0 0 0; 
    }
  
    .l-container {
      margin: auto;
      width: 90%;
      padding: 1%;
    }
  
    .m-container {
      margin: auto;
      width: 80%;
      padding: 1%;
    }
  
    .s-container {
      margin: auto;
      width: 70%;
      padding: 1%;
    }
  }
  
  /* Small */
  @media screen and (min-width: 461px) and (max-width: 720px) {
    .wrapper {
      padding: 12% 1% 0 1%; 
    }

    .wrapper-w-img {
      padding: 0 1% 0 1%; 
    }

    .wrapper-top {
      padding: 14% 0 0 0; 
    }
  
    .l-container {
      margin: auto;
      width: 95%;
      padding: 1%;
    }
  
    .m-container {
      margin: auto;
      width: 95%;
      padding: 0.5%;
    }
  
    .s-container {
      margin: auto;
      width: 95%;
      padding: 0.5%;
    }
  }

  /* Extra Small */
  @media screen and (max-width: 460px) {
    .wrapper {
      padding: 25% 1% 0 1%; 
    }

    .wrapper-w-img {
      padding: 0 1% 0 1%; 
    }

    .wrapper-top {
      padding: 21% 0 0 0; 
    }

  }
  
  /* 
  * Forms 
  */
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  span.dollar-inline {
    display: inline-block;
    position: relative;
  }
  
  span.dollar-inline::before {
    content: "$";
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    position: absolute;
    left: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  input[type="number"] {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 4px;
    background-color: white;
    resize: none;
  }
  
  input[type="text"].box {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .box {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="text"]:disabled {
    color: rgb(171, 171, 171);
  }
  
  input[type="file"] {
    font-family: Montserrat, sans-serif;
    padding: 0px 0px 10px 0px;
  }
  
  textarea {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 4px;
    background-color: white;
  }
  
  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
  }
  
  /* 
  * Objects 
  */
  .collapse-content {
    padding: 1% 2% 0 2%;
    background-color: #dddddd93;
    border: 1px solid #003da5;
    border-radius: 0 3px 3px 3px;
    border-color: #003da5 !important;
  }
  
  .hide {
    display: none;
  }
  
  .horiz-center {
    margin: 0 auto;
  }
  
  .s-border {
    border-style: solid;
    border-width: 1px;
    border-color: #003da5;
  }
  
  .m-border {
    border-style: solid;
    border-width: 3px;
    border-color: #003da5;
  }
  
  .l-border {
    border-style: solid;
    border-width: 5px;
    border-color: #003da5;
  }
  
  .left-border {
    border-left: 6px solid #003da5;
    padding: 10px 0px 10px 5px;
  }
  
  .no-padding {
    padding: 0px !important;
  }

  .s-padding-l {
    padding: 0 0 0 1%;
  }

  .s-padding-t {
    padding: 1% 0 0 0;
  }

  .m-padding-t {
    padding: 5% 0 0 0;
  }

  .l-padding-t {
    padding: 10% 0 0 0;
  }

  .s-padding-b {
    padding: 0 0 1% 0;
  }

  .m-padding-t-b {
    padding: 5% 0 5% 0;
  }

  .m-padding-l {
    padding: 0 0 0 5%;
  }

  .l-padding-l {
    padding: 0 0 0 10%;
  }
  
  .s-padding-r {
    padding: 0 1% 0 0;
  }
  
  .m-padding-t {
    padding: 5% 0 0 0;
  }
  
  .m-padding-r-l {
    padding: 0 5% 0 5%;
  }

  .m-padding-t-r-l {
    padding: 5% 5% 0 5%;
  }
  
  .l-padding-r-l {
    padding: 0 10% 0 10%;
  }


  .m-padding-b {
    padding: 0 0 5% 0;
  }

  .l-padding-b {
    padding: 0 0 10% 0;
  }
  
  .s-padding {
    padding: 1%;
  }
  
  .m-padding {
    padding: 5%;
  }
  
  .l-padding {
    padding: 10%;
  }
  
  .no-margin {
    margin: 0px;
  }
  
  .s-margin {
    margin: 1%;
  }

  .s-margin-b {
    margin: 0 0 1% 0;
  }
  
  .s-margin-t {
    margin: 1% 0% 0% 0%;
  } 

  .s-margin-t-b {
    margin: 1% 0% 1% 0%;
  }
  
  .m-margin {
    margin: 5%;
  }
  
  .l-margin {
    margin: 10%;
  }


  
  .s-width {
    width: 25% !important;
  }
  
  .m-width {
    width: 50% !important;
  }
  
  .l-width {
    width: 75% !important;
  }
  
  @media screen and (max-width: 720px) {
    .s-width {
      width: 90% !important;
    }
  
    .m-width {
      width: 90% !important;
    }
  
    .l-width {
      width: 90% !important;
    }
  }

  .clearfix {
    overflow: auto;
  }
  
  /*
  * Positioning
  */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
  }
  
  .right {
    display: block;
    float: right;
  }
  
  .left {
    display: block;
    float: left;
  }
  
  /* Using the position attribute */
  .p-container {
    position: relative;
  }
  
  .p-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .p-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .p-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .p-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .p-center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
  }

  .p-subscribe-home {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .p-bottom-center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
  }
  
  /* 
  * Images
  */
  .hover:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #ffd54c;
    cursor: pointer;
  }
  
  img.call-btn {
    width: 100%;
    height: auto;
    max-width: 75px;
    padding: 5px;
  }
  
  img.xsmall {
    width: 100%;
    height: auto;
    max-width: 50px;
    padding: 5px;
  }
  
  img.small {
    width: 100%;
    height: auto;
    max-width: 100px !important;
    padding: 5px;
  }
  
  img.medium {
    width: 100%;
    height: auto;
    max-width: 150px;
  }
  
  img.large {
    width: 100%;
    height: auto;
    max-width: 300px;
    padding: 5px;
  }
  
  img.xlarge {
    width: 100%;
    height: auto;
    max-width: 450px;
    padding: 5px;
  }

  img.xxlarge {
    width: 100%;
    height: auto;
    max-width: 600px;
    padding: 5px;
  }

  img.xxxlarge {
    width: 100%;
    height: auto;
    max-width: 1000px;
    padding: 5px;
  }

  img.headshot {
    width: 100%;
    height: auto;
    max-width: 200px;
    padding: 5px;
  }
  
  .responsive {
    max-width: 100%;
    height: auto;
  }

  img.s-em {
    height: 1em;
  }
  
  img.m-em {
    height: 1.25em;
  }

  img.l-em {
    height: 1.75em;
  }

  img.xl-em {
    height: 2em;
  }
  
  .m-flat-icon {
    max-width: 175px;
  }
  
  /* 
  * Multiline text overflow 
  */
  .block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.5em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 4.5em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
  
    padding: 0 1em 0 0;
    margin: 0 -1em 0 0;
  }
  .block-with-text:before {
    /* points in the end */
    content: "...";
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  .block-with-text:after {
    /* points in the end */
    content: "";
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }
  
  
  /* Confirm Alert */
  .custom-ui {
    text-align: center;
    width: 500px;
    padding: 40px;
    background: #28bae6;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
    color: #fff;
  }
  
  .custom-ui > h1 {
    margin-top: 0;
  }
  
  .custom-ui > button {
    width: 160px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 14px;
  }



  .headshot-text {
    margin: 1px 0 1px 0;
    padding: 1px 0 1px 0;
  }

  select {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    padding: .7em 1.4em .7em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 7px 0 0 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
      border-radius: 4px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#ececec 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .5em top 50%, 0 0;
    background-size: .5em auto, 100%;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  select:hover {
    border-color: #888;
  }
  select option {
    font-weight:normal;
  }

  .yup-error {
    font-weight: 600;
    color: #c0392b !important;
  }

  /* Checkbox */
  .checkbox-input + label{
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }

  .checkbox-input {
    display: none;
  }
  
  .checkbox-input + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  .checkbox-input + label:active:before {
    transform: scale(0);
  }
  
  .checkbox-input:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }
  
  .checkbox-input:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  .checkbox-input:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }


  /* Align verticle middle */
  .box-text-v-align {
    display: flex;
    align-items:center;
 }

 /* Don't display line breaks */
 .bye-br br {
  display: block;
  margin: 10px 0;
  line-height: 30px;
  content: " ";
}

.sliver {
  max-height: 10%
}

.background-lightgrey {
  background-color: #dfdfdf;
}

.background-blue {
  background-color: #003da5;
}