/***************************************** 
* Top nav
*****************************************/

/* Large */
@media screen and (min-width: 1081px) {
  .nav-container {
    margin: 0 auto;
    width: 90%;
  }

  .header-padding {
    padding: 0 0 7% 0;
  }
}

/* Medium
@media screen and (min-width: 720px) and (max-width: 1180px) {
  .nav-container {
    margin: 0 auto;
    width: 95%;
  }
} */

/* Small */
@media screen and (max-width: 1080px) {
  .nav-container {
    margin: 0 auto;
  }

  .header-padding {
    padding: 0 0 10% 0;
  }
}

.nav-logo {
  width: 100%;
  height: auto;
  padding: 2px 0 0 5px;
  max-width: 200px;
}

.top-nav {
  width: 100%;
  position: fixed;
  background-color: white;
  margin: 0 0 0 0;
  z-index: 1;
}

.nav-link {
  position: relative;
  text-decoration: none;
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
  color: #003da5;
  padding: 0px 10px 0px 10px;
}

.nav-link.dropdown {
  height: 42px;
  line-height: 42px;
}

.nav-link:hover:after {
  content: " ";
  position: absolute;
  top: 110%;
  left: 50%;
  width: 30px;
  border: 1px solid #ffd54c;
  background-color: #ffd54c;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-select:after {
  content: " ";
  position: absolute;
  top: 110%;
  left: 50%;
  width: 30px;
  border: 1px solid #ffd54c;
  background-color: #ffd54c;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* 
* Drop down 
*/
.top-dropdown {
  position: relative;
  display: inline-block;
}

.top-dropdown-content {
  display: none;
  position: absolute;
  top: 70%;
  right: 10%;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-dropdown-content a {
  color: gray;
  text-decoration: none;
  display: block;
  text-align: center;
}

.top-dropdown-content a:hover:after {
  content: " ";
  position: absolute;
  top: 85%;
  left: 50%;
  width: 30px;
  border: 1px solid #ffd54c;
  background-color: #ffd54c;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top-dropdown-content a.top-dropdown-select:after {
  content: " ";
  position: absolute;
  top: 85%;
  left: 50%;
  width: 30px;
  border: 1px solid #ffd54c;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top-dropdown:hover .top-dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #003da5;
}

/* nav select */
.nav-select.dropdown:hover:after {
  content: " ";
  position: absolute;
  top: 80%;
  left: 50%;
  width: 30px;
  border: 1px solid #ffd54c;
  background-color: #ffd54c;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-select.dropdown:after {
  content: " ";
  position: absolute;
  top: 80%;
  left: 50%;
  width: 30px;
  border: 1px solid #ffd54c;
  background-color: #ffd54c;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/***************************************** 
* Side nav
*****************************************/

/** Would like to have the same style here as the top anv with the dash below but passing classes to this componenet isnt easy as well as n active class */
/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 16px;
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  outline: 0;
  height: 42px;
  line-height: 42px;
  white-space: nowrap;
  padding: 0px 10px 0px 10px;
}

/* Change color on hover */
.bm-item:hover {
  color: #eeba47;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 35px;
  outline: 0;
}

.white-fill {
  fill: white;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  position: relative;
  background: #003da5;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  text-align: center;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #003da5;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
/* .bm-overlay {
  background: rgba(52, 52, 52, 0.3);
} */

/* 
* Drop down 
*/
.side-dropdown {
  position: relative;
  display: inline-block;
}

.side-dropdown-content {
  display: none;
  position: absolute;
  top: 90%;
  right: 20%;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: 5px;
  font-size: 12px;
}

.side-dropdown-content a {
  color: gray;
  text-decoration: none;
  display: block;
  text-align: center;
}

.side-dropdown-content a:hover {
  background-color: #f8f8f844;
  color: #eeba47;
}

.side-dropdown:hover .side-dropdown-content {
  display: block;
}

.side-dropdown:hover .dropbtn {
  background-color: #003da5;
}
